*.so
*.o
*.tmp
.svn
*.bak
build
F
*.depend
*.layout
*.a
bin
obj
# make files
Makefile.in
*.swp
*.*~
autom4te.cache
aclocal.m4
config.*
install.sh
ltmain.sh
missing
depcomp
configure
install-sh
.deps
.libs
*.orig

