Source: djondb
Section: free
Version: 0.120120603
Priority: optional
Maintainer: d-jon <contact@d-jon.com>
Depends: libxss1 (>= 1.2.0-2), libc6 (>= 2.12.1), libx11-6 (>= 2.1.3), libuuid1 (>= 2.17.2), libstdc++6 (>= 4.5), libv8-2.2.18 | libv8-3.1.8.22 | libv8-3.4.14
Homepage: http://d-jon.com
Package: djondb
Architecture: all
Description: Enterprise NoSQL Server 
 djondb is an implemention of NoSQL databases
